<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="인덱스">로그인</h1>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">로그인</button>
    </form>
<form>
    <a th:href="@{/joinForm}">회원가입</a>
</form>
</body>
</html>